/* assets/css/custom.css or static/css/custom.css */

/* This file is to adjust the font size on mobile screen.  Adjust 768px as needed */
@media screen and (max-width: 768px) {

  /* @import url('https://fonts.googleapis.com/css?family=Philosopher&display=swap'); */

  :root {
    --font-size-base: 15px !important;
  }

  body,
  p,
  li {
    /* font-family: Philosopher; */
    font-size: var(--font-size-base);
  }

  /* Headings */
  .post-title,
  h1 {
    font-size: calc(var(--font-size-base) * 1.8);
    /* 28.8px */
    line-height: 1.3;
  }

  /* .entry-header,
  .entry-header h2, */
  h2 {
    font-size: calc(var(--font-size-base) * 1.6);
    /* 25.6px */
    line-height: 1.4;
  }

  h3 {
    font-size: calc(var(--font-size-base) * 1.4);
    /* 22.4px */
  }

  /* Content text */
  /* .post-content {
    font-size: var(--font-size-base);
    line-height: 1.6;
  } */

  /* Optional: Adjust specific theme elements */
  /* .main {
    font-size: var(--font-size-base);
  } */
}
