{{- $scratch := newScratch }}

{{- if not .Date.IsZero -}}
{{- $scratch.Add "meta" (slice (printf "<span title='%s'>%s</span>" (.Date) (.Date | time.Format (default "January 2, 2006" site.Params.DateFormat)))) }}
{{- end }}

{{- if (.Param "ShowReadingTime") -}}
{{- $scratch.Add "meta" (slice (i18n "read_time" .ReadingTime | default (printf "%d min" .ReadingTime))) }}
{{- end }}

{{- if (.Param "ShowWordCount") -}}
{{- $scratch.Add "meta" (slice (i18n "words" .WordCount | default (printf "%d words" .WordCount))) }}
{{- end }}

{{- if not (.Param "hideAuthor") -}}
{{- with (partial "author.html" .) }}
{{- $scratch.Add "meta" (slice .) }}
{{- end }}
{{- end }}

{{- with ($scratch.Get "meta") }}
{{- delimit . "&nbsp;·&nbsp;" | safeHTML -}}
{{- end -}}
<!-- RSH++ -->
{{ if site.Params.postCounter }}
{{- $totalPosts := len (where site.RegularPages "Type" "in" site.Params.mainSections) -}}
{{- $index := $totalPosts -}}
{{- range where site.RegularPages.ByDate.Reverse "Type" "in" site.Params.mainSections -}}
{{- if eq . $ -}}
<span class="post-number">&nbsp;·&nbsp;#{{ $index }} </span>
{{- end -}}
{{- $index = sub $index 1 -}}
{{- end -}}
{{ end }}
<!-- RSH++ -->
